<!DOCTYPE html>
<html>
  <head>
    <title>ComplaintsSpec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
<div class='flash' id='<%= key %>'>
<%= value %>
</div>
<% end %>

<nav>
<ul>
<li><%= link_to "Sign up", new_user_path %></li>
<li><%= link_to "Sign in", signin_path %></li>
</ul>
</nav>
    <%= yield %>
  </body>
</html>
